.backButton {
	background-color: #b8b8b8;
	width: 355px;
	padding: 18px 0;
	display: table;
	text-align: center;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	font-weight: bold;
}

.break-character{
	word-wrap: break-word;
    word-break: break-all;
}

.label-header {
	width: 30%;
}

.content-input {
	width: 70%;
}

#tel-error, #post_code-error, #rep_tel-error{
	width: 100%;
	display: block;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}