/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, body {
    /*overflow-x: hidden;*/
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/* Updated by Son Nguyen */
.companyFile {
    margin-top: 10px;

}
#selectedFiles {
	display: none;
	float: left;
	margin:0 auto;
}
.delbtn{
	color: #fff;
	background-color: #ea8d5b;
	width: 90px;
	height:35px;
	margin-top: 18px;
	margin-left: 10px;
	font-size: large;
}
.companyFilesLogo{
	max-width: 41px;
	max-height: 48px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

/*End of Son Nguyen*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ol,
ul {
  list-style:none;
}
a{
  text-decoration: none;
  color:#4a90e2;
}
a:hover{
  text-decoration: none;
}
a.default{
  text-decoration: underline;
  color:#007FFF;
}
a.default:hover{
  text-decoration: underline;
}
a:hover,
a:active,
a:focus{
	opacity:0.8;
}
a:hover img,
a:active img,
a:focus img{
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  text-decoration: none;
}
em{
  color:#fe0000;
  font-style:normal;
}

/* ==========================================================================
   styles
   ========================================================================== */

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 13px ;/* 100% */
  font-family: "Avenir Next","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック","Yu Gothic","メイリオ",Meiryo,Osaka,sans-serif;
  line-height: 160%;
  color: #333;
  background-color:#FBE5C4;
  -webkit-overflow-scrolling: touch;/*慣性スクロール*/
}
div#contents {
	height:auto !important;
	width:100%;
	min-height: 100%;
	/*min-width:375px;*/
	width:375px;
	margin:0 auto;
	background-color:#FBE5C4;
}
@media screen and (max-width: 320px) {
div#contents {
	width:320px;
}
}
div#contents.top{ background-color:transparent;}
header,
footer,
div.copylight{
  width:100%;
  min-width:375px;
}
@media screen and (max-width: 320px) {
div#contents.top{ background-color:transparent;}
header,
footer,
div.copylight{
  min-width:320px;
}
}
div.main{
	width:100%;
	background-color:#FBE5C4;
}
	div.main article{
		width:375px;
		margin:0 auto;
	}
	@media screen and (max-width: 320px) {
	div.main article{
		width:320px;
	}
	}

/* header
-----------------------------------------
----------------------------------------------------------------------------------*/
header{
	background-color:#fff;
	border-bottom:3px solid #ea8d5b;
	margin: 0 auto;
    width: 375px;
	position:relative;
}
@media screen and (max-width: 320px) {
header{
    width: 320px;
}
}
	header img.logo{
		padding:10px 0 10px 10px;
		width:180px;
	}
	
	
/* GlobalNavi
-----------------------------------------
-----
-----------------------------------------------------------------------------*/
header a.menu_btn {
	background: url(../img/menu.png) no-repeat top left;
	display: block;
	width:28px;
	height: 20px;
	position: absolute;
	top:20px;
	right:20px;
	cursor: pointer;
	z-index: 100;
}
@media screen and (max-width: 320px) {
header a.menu_btn {
	top:15px;
}
}
	header a.menu_btn.peke {
		background: url(../img/close.png) no-repeat top left;
		width:22px;
		height: 22px;
	}
header div.drawr{
	display: none;
	background-color:rgba(255,255,255,1.0);
	position: absolute;
	top: 52px;
	right:0;
	width:355px;
	padding:0 10px;
	z-index: 100;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 3px 0px inset;
}
@media screen and (max-width: 320px) {
header div.drawr{
	width:300px;
	padding:0 10px;
}
}
	header div.drawr ul.menu li {
		width:355px;
		border-bottom:1px solid #f6ddd0;
		background:url(../img/link.png) no-repeat right 16px;
	}
	@media screen and (max-width: 320px) {
	header div.drawr ul.menu li {
		width:300px;
	}
	}
	header div.drawr ul.menu li:last-child{
		border-bottom:none;
	}
		header div.drawr ul.menu li a {
			color:#000;
			display: block;
			padding: 15px;
			font-size:16px;
		}



/* footer
-----------------------------------------
----------------------------------------------------------------------------------*/
footer{
	margin: 0 auto;
    width: 375px;
	background-color:#fff;
	border-top:solid 1px #efd1a3;
	text-align:center;
}
@media screen and (max-width: 320px) {
footer{
    width: 320px;
}
}
	footer div.footerCopy{
		font-size:11px;
		color:#ccc;
		padding:29px 0 24px 0;
	}


/* フォーム
-----------------------------------------
----------------------------------------------------------------------------------*/
input, button, textarea{
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/*テキストボックス*/
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="password"]{
    border: 1px solid #cecece;
	box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
    border-radius: 3px;
    height: 36px;
    width: 220px;
	/*font-size:13px; 16px以下だと自動ズームする*/
	font-size: 16px;
	scale(0.6);
	font-family: "Avenir Next","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック","Yu Gothic","メイリオ",Meiryo,Osaka,sans-serif;
	padding-left:12px;
	color:#000;
	display:inline-block;
}
@media screen and (max-width: 320px) {
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="password"]{
    height: 36px;
    width: 190px;
}
}

div.main.top input[type="text"]{
	border: none;
	box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px 0px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px 0px inset;
}

input[type="text"].w150,
input[type="tel"].w150{
	width:150px;
}
input[type="text"].w50,
input[type="tel"].w50{
	width:50px;
}
@media screen and (max-width: 320px) {
input[type="text"].w50,
input[type="tel"].w50{
	width:44px;
}
}

/*ドロップダウン*/
div.select_box select{
	width: 233px;
	padding: 10px;
	border: 1px solid #cecece;
	box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
    border-radius: 3px;
	/*font-size:13px; 16px以下だと自動ズームする*/
	font-size: 16px;
	scale(0.6);
}
@media screen and (max-width: 320px) {
div.select_box select{
	width: 190px;
}
}
	
	div.select_box.w65{
		width:65px;
		display: inline-block;
	}
	div.select_box.w65 select{
		width: 65px;
	}
	
/*テキストエリア*/
textarea{
    border: 1px solid #cecece;
	box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
    border-radius: 3px;
	width: 210px;
	padding: 10px;
	color:#000;
	/*font-size:13px; 16px以下だと自動ズームする*/
	font-size: 16px;
	scale(0.6);
	font-family: "Avenir Next","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック","Yu Gothic","メイリオ",Meiryo,Osaka,sans-serif;
}
@media screen and (max-width: 320px) {
textarea{
	width: 190px;
}
}
	/*placeholder 文字色*/
	textarea::-webkit-input-placeholder,
	textarea:-ms-input-placeholder,
	textarea::-moz-placeholder{
		color:#9b9b9b;
	}
	/*編集画面用　テキストエリア*/
	table.form.edit textarea{
		color:#000;
	}
	table.form.edit textarea::-webkit-input-placeholder,
	table.form.edit textarea:-ms-input-placeholder,
	table.form.edit textarea::-moz-placeholder{
		color:#000;
	}

/*ラジオボタン*/
input[type="radio"] {
	display: none;
}
label.radio {
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 20px;
	cursor: pointer;
}
label.radio::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 100%;
}
input[type="radio"]:checked + label.radio::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #7ed321;
	border-radius: 100%;
}

/*チェックボックス*/
input[type="checkbox"] {
	display: none;
}
label.check {
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 30px;
	cursor: pointer;
}
label.check::before {
	position: absolute;
	content: '';
	top: 45%;
	left: 0;
	width: 20px;
	height: 20px;
	margin-top: -8px;
	background: #fff;
	
	border-radius: 3px;
    border: 1px solid #cecece;
	box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0.5px 0.5px 1px 0px inset;
}
input[type="checkbox"]:checked + label.check::after {
	position: absolute;
	content: '';
	top: 12px;
	left: 3px;
	width: 13px;
	height: 5px;
	border-left: 2px solid #3498db;
	border-bottom: 2px solid #3498db;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*チェックボックス ログインページ用*/
div.main.top label.check::before {
	border-radius: 3px;
	border: none;
	box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px 0px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px 0px inset;
}
div.main.top input[type="checkbox"]:checked + label.check::after {
	top: 9px;
}


/*サブミットボタン　ログイン*/
button[type="submit"]{
	background-color:#ea8d5b;
	color:#fff;
	font-weight:bold;
	border-radius:5px;
}
button[type="submit"]:hover{ opacity:0.8; }

	button[type="submit"].login{
		width:220px;
		font-size:16px;
		padding:14px 0;
		border:solid #fff 2px;
	}
	@media screen and (max-width: 320px) {
	button[type="submit"].login{
		width:200px;
		margin-right:20px;
	}
	}

/*サブミットボタン　確認*/
p.btn_submit,
p.btn{
	display: table;
	margin:10px auto;
}
	p.btn_submit button[type="submit"]{
		background-color:#ea8d5b;
	}
		p.btn_submit button[type="submit"].submit{
			width:355px;
			font-size:18px;
			padding:18px 0;
		}
		@media screen and (max-width: 320px) {
		p.btn_submit button[type="submit"].submit{
			width:300px;
		}
		}
		
/*ボタン*/
p.btn a{
	width:355px;
	padding:18px 0;
	display:table;
	text-align:center;
	color:#fff;
	font-size:18px;
	border-radius:5px;
	font-weight:bold;
}
@media screen and (max-width: 320px) {
p.btn a{
	width:300px;
}
}
	/*ボタン　グレー*/
	p.btn.gray a{
		background-color:#b8b8b8;
	}
	/*ボタン　オレンジ*/
	p.btn.orange a{
		background-color:#ea8d5b;
	}
		/*組み込みコード発行ボタン用*/
		p.btn.orange.w335 { margin:0 auto -5px;}
		p.btn.orange.w335 a{
			width:335px;
		}
		@media screen and (max-width: 320px) {
		p.btn.orange.w335 a{
			width:280px;
		}	
		}

/*エラー*/
p.error{
	color:#ff001f;
	font-weight:bold;
}
@media screen and (max-width: 320px) {
	p.error{
		font-size:12px;
	}
	}


/*---編集ボタン---*/
div.edit_btn{
	overflow:hidden;
	float:right;
	margin:0 10px 10px 0;
}
	div.edit_btn a{
		float: left;
		margin-left:10px;
		width:128px;
		padding:5px 0 3px 0;
		display:table;
		text-align:center;
		color:#fff;
		font-size:16px;
		border-radius:5px;
		background-color:#ea8d5b;
	}
	/*ボタン1つのとき用*/
	div.edit_btn.col1{
		margin: -35px 10px 10px 0;
	}
		div.edit_btn.col1 a{
			width:80px;
		}
		@media screen and (max-width: 320px) {
		div.edit_btn.col1 a{
			width:50px;
		}
		}
	/*長いボタン1つのとき*/
	div.edit_btn.col1.wide{
		margin: -35px 10px 10px 0;
	}
	@media screen and (max-width: 320px) {
	div.edit_btn.col1.wide{
		margin: -5px 10px 10px 0;
	}	
	}
		div.edit_btn.col1.wide a{
			width:130px;
		}
		@media screen and (max-width: 320px) {
		div.edit_btn.col1.wide a{
			width:130px;
		}
		}


/* ログイン・オープン前ページ　
-----------------------------------------
----------------------------------------------------------------------------------*/
div.main.top{
	background-color:#fff;
	padding-bottom: 0;
}
	div.main.top article{
		background-image: url(../img/top_bg.png);
		background-size: 375px 627px;
		min-height:627px;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		   only screen and (   min--moz-device-pixel-ratio: 2),
		   only screen and (     -o-min-device-pixel-ratio: 2/1),
		   only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
		   only screen and (                min-resolution: 2dppx) {
	div.main.top article{
		background-image: url(../img/top_bg@2x.png);
		background-size: 375px 627px;
		min-height:627px;
	}
	}
	@media screen and (max-width: 320px) {
	div.main.top article{
		background-position:0 -60px;
		min-height:568px;
	}
	}



/* ログインページ
-----------------------------------------
-----------------------------------------*/
/*ロゴ*/
section img.top_logo{
	margin:0 auto;
	padding-top:40px;
	width:180px;
	display:block;
}
@media screen and (max-width: 320px) {
section img.top_logo{
	padding-top:20px;
}	
}
/*フォーム部分テーブル*/
table.login input[type="text"]{
	width:208px;
}
@media screen and (max-width: 320px) {
table.login input[type="text"]{
	width:208px;
}
}
	
table.login{
	width: auto;
	margin: 30px 0 0 25px;
	background-color: transparent;
	border-spacing: 0;
}
@media screen and (max-width: 320px) {
table.login{
	margin: 30px 0 0 10px;
}
}
	table.login tr{
		display:block;
	}
		table.login tr th{
			width:55px;
			text-align:right;
			padding:20px 0 0 0;
		}
		table.login tr th span.item{
			font-size:16px;
			font-weight:bold;
			color:#fff;
			margin-right:9px;
		}
	table.login tr td{
		width:220px;
		text-align: left;
		color:#fff;
		font-weight:bold;
		padding:10px 0;
	}
	table.login tr:last-child td{
		padding:10px 0;
	}
	table.login tr td.center{
		text-align:center;
	}
	table.login tr td p.link{
		margin-left:30px;
	}
	@media screen and (max-width: 320px) {
	table.login tr td p.link{
		margin-left:20px;
	}
	}
	
/*文字色*/
div.top a{
	color:#fff;
}

/*反透明ボタン*/
div.registration{
	overflow:hidden;
	margin-left:34px;
	margin-top: 20px;
}
@media screen and (max-width: 320px) {
div.registration{
	margin-left:18px;
	margin-top: 5px;
}
}
	div.registration div.btn{
		background-color:rgba(7, 51, 104, 0.3);
		display: inline-block;
		padding:14px;
		font-size:16px;
		font-weight:bold;
		border-radius:5px;
		float:left;
		margin-right:10px;
	}
	@media screen and (max-width: 320px) {
	div.registration div.btn{
		padding:14px 10px;
		margin-right:5px;
	}
	}
	
/*現在の～～数*/
div.main.top article{
	position: relative;
} 
div.main.top article section.sum_total{
	position:absolute;
	bottom:0;
	left:0;
	background-color:#fff;
	height:60px;
}
section.sum_total ul{
	overflow:hidden;
}
	section.sum_total ul li{
		float:left;
		width:117px;
		font-weight:bold;
		padding:0 0 0 59px;
		margin:10px 0 0 0;
	}
	section.sum_total ul li:first-child{
		border-right:1px solid #d8d8d8;
		padding:0 10px 0 71px;
	}
	@media screen and (max-width: 320px) {
		section.sum_total ul li{
			width:105px;
			padding:0 0 0 54px;
	}
		section.sum_total ul li:first-child{
		border-right:1px solid #d8d8d8;
		padding:0 5px 0 50px;
	}
	}
	section.sum_total ul li.companies{
		background:url(../img/kigyou_top.png) no-repeat 20px 5px;
		background-size:33px 33px;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		   only screen and (   min--moz-device-pixel-ratio: 2),
		   only screen and (     -o-min-device-pixel-ratio: 2/1),
		   only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
		   only screen and (                min-resolution: 2dppx) {
	section.sum_total ul li.companies{
		background:url(../img/kigyou_top@2x.png) no-repeat 20px 5px;
		background-size:33px 33px;
	}
	}
	@media screen and (max-width: 320px) {
	section.sum_total ul li.companies{
		background:url(../img/kigyou_top@2x.png) no-repeat 10px 5px;
		background-size:33px 33px;
	}
	}
	
	section.sum_total ul li.introducer{
		background:url(../img/user_top.png) no-repeat 20px 5px;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		   only screen and (   min--moz-device-pixel-ratio: 2),
		   only screen and (     -o-min-device-pixel-ratio: 2/1),
		   only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
		   only screen and (                min-resolution: 2dppx) {
	section.sum_total ul li.introducer{
			background:url(../img/user_top@2x.png) no-repeat 20px 5px;
			background-size:30px 37px;
	}
	}
	@media screen and (max-width: 320px) {
	section.sum_total ul li.introducer{
			background:url(../img/user_top@2x.png) no-repeat 10px 5px;
			background-size:30px 37px;
	}
	}	
	section.sum_total ul li p.number{
		font-size:20px;
	}



/* メインページ
-----------------------------------------
-----------------------------------------*/
div.main{
	background-color:#fce6c4;
	margin: 0 auto;
    width: 375px;
	padding-bottom:40px;
}
@media screen and (max-width: 320px) {
div.main{
    width: 320px;
}
}
/*h2　見出し*/
h2{
	color:#7f4628;
	font-weight:bold;
	font-size:20px;
	height:33px;
	padding:20px 0 0 55px;
}
	h2.small span.sub{
		font-size:15px;
	}
	h2.kigyou{
		background:url(../img/kigyou.png) no-repeat 13px 14px;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		   only screen and (   min--moz-device-pixel-ratio: 2),
		   only screen and (     -o-min-device-pixel-ratio: 2/1),
		   only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
		   only screen and (                min-resolution: 2dppx) {
		h2.kigyou{
			background:url(../img/kigyou@2x.png) no-repeat 13px 14px;
			background-size:33px 33px;
		}
		}
		
	h2.lock{
		background:url(../img/lock.png) no-repeat 13px 14px;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		   only screen and (   min--moz-device-pixel-ratio: 2),
		   only screen and (     -o-min-device-pixel-ratio: 2/1),
		   only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
		   only screen and (                min-resolution: 2dppx) {
		h2.lock{
			background:url(../img/lock@2x.png) no-repeat 13px 14px;
			background-size:27px 32px;
		}
		}
		
	h2.user{
		background:url(../img/user.png) no-repeat 13px 14px;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		   only screen and (   min--moz-device-pixel-ratio: 2),
		   only screen and (     -o-min-device-pixel-ratio: 2/1),
		   only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
		   only screen and (                min-resolution: 2dppx) {
		h2.user{
			background:url(../img/user@2x.png) no-repeat 13px 11px;
			background-size:30px 37px;
		}
		}
		
	h2.txt_only{
		background: none;
		padding:10px 0 0 15px;
		margin-bottom: -10px;
	}
h2.small{
	font-size:18px;
}
	h2.small span.sub{
		font-size:13px;
	}



/*h2　右上ボタン*/
div.select_btn {
	float: right;
    position: relative;
	height:30px;
	width:80px;
	background-color:#ea8d5b;
	border-radius:5px;
	text-align:center;
	margin-right:10px;
}
	div.select_btn div.init_btn,
	div.select_btn ul.second_level li a,
	div.select_btn:hover ul.second_level li a{
		color:#fff;
		font-size:16px;
		font-weight:normal;
		line-height:190%;
	}
	div.select_btn ul.second_level {
		position: absolute;
		top: 30px;
		width: 100%;
		background: #ea8d5b;
		border-radius:5px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		
		/*opacity: 0;*/
		/*visibility: hidden;*/
		z-index: 1;
	}
	
	/*div.select_btn:hover ul.second_level {
		top: 30px;
		visibility: visible;
		opacity: 1;
	}*/
	div.select_btn div.init_btn{
		cursor: pointer;
	}
/*フォーム部分テーブル*/
table.form {
	background-color:#fff;
	width:355px;
	margin:5px auto 10px;
	border-radius:5px;
	border-collapse: separate;
	border-spacing: 0 0 10px 0;
}
@media screen and (max-width: 320px) {
table.form {
	width:300px;
}
}
table.form.pt20{
	padding:20px 0;
}
table.form tr{
}
	table.form tr th{
		text-align:left;
		padding:13px 0 0 8px;
		color:#000;
		vertical-align: top;
	}
	table.form tr td{
		width:220px;
		padding:10px 9px 10px 0;
		vertical-align: top;
	}
	@media screen and (max-width: 320px) {
	table.form tr td{
		width:200px;
		padding:10px 5px 10px 0;
	}
	}
	table.form tr:last-child td{
		padding:10px 9px 15px 0;
	}
	
	/*オレンジ見出し用*/
	h3{ display:inline-block;}
	table.form tr th.h3,
	table.tile tr th.h3{
		background-color:#ea8d5b;
		padding:7px 0 3px 9px;
		color:#fff;
		font-size:16px;
		position:relative;
	}
	table.tile tr th.h3{ text-align:left;} 
	table.form tr th.h3.top,
	table.tile tr th.h3.top{
		border-radius:5px 5px 0 0;
	}
		table.form tr th.h3 h3,
		table.tile tr th.h3 h3{
		font-size:16px;
		}
		/*オレンジ見出し内　※　*/
		table.form tr th.h3 span.att{
			float:right;
			margin-right:10px;
		}
	
	/*　※　*/
	table.form tr th span.must{
		color:#C82323
	}
	/*　注意（グレー文字）*/
	table.form tr td span.att{
		color:#9b9b9b;
	}
	/*　太字　*/
	table.form tr td span.bold{
		font-weight:bold;
	}
	/*　縦位置中央揃え　*/
	table.form tr td.v_middle{
		vertical-align:middle;
	}
	/*テキスト用*/
	table.form tr td.txt{
		padding:10px;
	}
		table.form tr td.txt.tdkome{
			padding-top:0;
			padding-left:0;
		}
		table.form tr td.txt.center{
			text-align:center;
			font-size:13px;
		}
		table.form tr td.txt p.kome{
			text-indent:-1em;
			padding-left:1em;
		}
		table.form tr th.pb10{
			padding:13px 0 10px 8px;
		}
		/*メッセージ用*/
		table.form tr td.txt div.note{
			text-align:center;
			font-weight:bold;
			line-height:220%;
			padding: 0 0 10px 0;
		}
			table.form tr td.txt div.note.ms{
				font-size:16px;
				line-height:160%;
				font-weight:normal;
			}
				/*ありがとう*/
				table.form tr td.txt div.note.ms div.thanks{
					font-weight:bold;
					margin:30px auto;
				}
				/*ポイント*/
				table.form tr td.txt div.note div.pt{
					font-size:20px;
					font-weight:bold;
					margin:10px auto 0;
				}
					table.form tr td.txt div.note div.pt span{
						font-weight:normal;
						font-size:16px;
						margin-left:3px;
					}
				/*口座確認*/
				table.form tr td.txt div.note.ms table.account{
					width: 320px;
					margin:25px auto;
					font-size:14px;
				}
					table.form tr td.txt div.note.ms table.account th{
						text-align:right;
						padding:0;
					}
					table.form tr td.txt div.note.ms table.account td{
						text-align:left;
						font-weight:bold;
						width:165px;
						padding:0 0 0 10px;
					}
	

/*フォーム部分テーブル 確認*/
table.form.confirm td{
	font-size:14px;
	padding:10px 9px;
	vertical-align: middle;
}
	table.form.confirm tr:last-child td{
		padding:10px 9px 15px 9px;
	}
	table.form tr:last-child th{
		padding:13px 0 15px 8px;
	}
	/*thを長くする*/
	table.form.confirm.th_wide td{
		width:200px;
	}
@media screen and (max-width: 320px) {
table.form.confirm td{
	padding:10px 5px;
	width:200px;
}
table.form.confirm.th_wide td{
	width:155px;
}
}



/*　照会テーブル　*/
table.tile {
	width:355px;
    margin: 10px auto 0;
	font-size:14px;
    border-collapse: separate;
	border-radius:0;
	table-layout: fixed;
}
@media screen and (max-width: 320px) {
table.tile {
	width:300px;
}
}
	table.tile th {
		padding: 12px;
		vertical-align: middle;
		text-align: center;
		border-bottom: #f6ddd0 1px solid;
		background-color:#fdf0e9;
		border-right:#f6ddd0 1px solid;
	}
	table.tile td {
		padding: 12px;
		vertical-align: middle;
		text-align: center;
		border-bottom: #f6ddd0 1px solid;
		background-color:#fff;
		border-right:#f6ddd0 1px solid;
	}
		table.tile th:last-child,
		table.tile td:last-child{
			border-right: none;
		}
		/*幅*/
		table.tile th.r1{
			width:65px;	
		}
		table.tile th.r2{
			width:35px;	
		}
		table.tile th.r3{
			width:123px;	
		}
		@media screen and (max-width: 320px) {
			table.tile th.r3{width:95px;}
		}
		table.tile th.r4{
			width:35px;	
		}
		table.tile th.r5{
			width:25px;	
		}
		table.tile th.r6{
			width:45px;	
		}
		table.tile th.r7{
			width:95px;	
		}
		table.tile th.r8{
			width:20px;	
		}
		/*td 右だけ太字*/
		table.tile.td_bold td:first-child{
			font-weight: bold;
		}
/*項目が多いテーブル*/
table.tile.many{
	font-size:12px;
	line-height:120%;
}
	table.tile.many th {
		padding: 12px 8px;
	}
	table.tile.many td {
		padding: 12px 8px;
	}
	@media screen and (max-width: 320px) {
	table.tile.many th {
		padding: 12px 4px;
	}
	table.tile.many td {
		padding: 12px 4px;
	}
	}

	table.tile.many td:first-child{
		font-size:14px;
	}
	table.tile.many td:nth-child(2){
		font-size:10px;
		line-height:120%;
	}
/*上にオレンジ見出し付き*/
table.tile.add_h3{
	margin: 0 auto;
}
	table.tile.add_h3 th {
		padding:10px 12px;
	}
	table.tile.add_h3 td {
		padding:10px 12px;
	}




/*　ページナビ　*/
nav.pagenation{
	width:355px;
    margin: 10px auto 0;
}
@media screen and (max-width: 320px) {
nav.pagenation{
	width:300px;
}
}
nav.pagenation a{
	border-radius:3px;
	background-color:#fff;
	padding:8px 12px;
	font-size:16px;
	font-weight:bold;
	/*width:16px;*/
	text-align:center;
	display:inline-block;
	margin-right:3px;
}
@media screen and (max-width: 320px) {
nav.pagenation a{
	margin-right:2px;
}
}
	nav.pagenation a:last-child{
		margin-right:0;
	}
	nav.pagenation a.forward,
	nav.pagenation a.next{
		width:54px;
		padding:10px 12px 9px;
		font-size:14px;
		font-weight:normal;
	}
	@media screen and (max-width: 320px) {
	nav.pagenation a.forward,
	nav.pagenation a.next{
		width:28px;
	}
	}
	nav.pagenation a.active{
		background-color:#ea8d5b;
		color:#fff;
	}
	nav.pagenation a.null{
		background-color:#eef2f5;
		color:#c1c1c1;
		pointer-events: none;
	}
/*ページカウンター*/
p.pagenation_counter{
	text-align:center;
	width:355px;
	margin:10px auto 0;
	color:#666;
}
@media screen and (max-width: 320px) {
p.pagenation_counter{
	width:300px;
}
}
	p.pagenation_counter span.active{
		font-weight:bold;
		color:#262626;
		font-size:12px;
	}
	
/*削除モダール*/
#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	display: none;
}
#delete_box{
	background-color:#fff;
	border-radius: 5px;	
	display: none;
	padding: 10px;
	width: 290px;
	height:196px;
}
	#delete_box .modal_close{
		position: absolute;
		top: 12px;
		right: 12px;
		display: block;
		z-index: 2;
		background: url(../img/close.png) no-repeat top left;
		width: 22px;
		height: 22px;
	}
	#delete_box p.read{
		font-weight:bold;
		font-size:14px;
		position: absolute;
		top: 75px;
		left:40px;
	}
	#delete_box div.btn_col {
		position: absolute;
		bottom: 0;
		left:10px;
		overflow:hidden;
	}

	#delete_box div.btn_col p.btn{
		float:left;
	}
	#delete_box div.btn_col p.btn a{
		width:140px;
	}
	#delete_box div.btn_col p.btn.orange a{
		margin-right:10px;
	}


/*検索タブ*/
.box{
	width:375px;
	height: auto;
}
@media screen and (max-width: 320px) {
.box{
	width:320px;
}
}
.swiper-container {
	width: 100%;
	height: auto;
	background-color:#ea8d5b;
}
.swiper-wrapper{
	margin-top:48px;
}

.tab{
	overflow:hidden;
}
	.tab li{
		height:32px;
		width:74px;
		color:#fff;
		float:left;
		text-align:center;
		font-weight:bold;
		line-height: 120%;
		padding:16px 0 0;
		margin-top:0;
		border-radius:0;
		background-color:#f6ae88;
		border-right: 1px solid #e5763a;
	}
	@media screen and (max-width: 320px) {
	.tab li{
		width:60px;
	}
	}
	.tab li:last-child{
		border-right: none;
		width:75px;
	}.tab li:nth-child(5){
		padding:10px 0 6px;
	}
	.tab li:nth-child(1){
		margin-left:0;
	}
	.tab li:nth-child(2),
	.tab li:nth-child(3),
	.tab li:nth-child(4),
	.tab li:nth-child(5){
		background:#f6ae88;
	}
	.tab li:nth-child(1).swiper-pagination-bullet-active,
	.tab li:nth-child(2).swiper-pagination-bullet-active,
	.tab li:nth-child(3).swiper-pagination-bullet-active,
	.tab li:nth-child(4).swiper-pagination-bullet-active,
	.tab li:nth-child(5).swiper-pagination-bullet-active{
		background:#ea8d5b;
	}
	.tab li:nth-child(1)::after{ content:'カテゴリ';}
	.tab li:nth-child(2)::after{ content:'場所';}
	.tab li:nth-child(3)::after{ content:'最寄駅';}
	.tab li:nth-child(4)::after{ content:'会社名';}
	.tab li:nth-child(5)::after{ content:'応援\Aポイント'; white-space: pre;}
		
div.searchform{
	background-color:#ea8d5b;
	padding: 10px;
	width: 355px;
}
@media screen and (max-width: 320px) {
div.searchform{
	width: 300px;
}
}
input.searchBtn[type="submit"] {
    background-color: #7d3814;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 47px;
    margin: 10px 10px 0 0;
    width: 84px;
}

		
/*検索フォーム*/		
div.searchform{  
    position: relative;  
}  
	input[type="text"].keywords{  
		width: 220px;  
		height: 47px;  
		background: url(../img/search.png) no-repeat 10px 13px #fff;  
		border: none;
		box-shadow:none;
		padding-left:40px;
	}
	@media screen and (max-width: 320px) {
	input[type="text"].keywords{  
		width: 190px;  
	}
	} 
	input[type="submit"].searchBtn {
		background-color:#7d3814;
		width:84px;
		height:47px;
		color:#fff;
		font-weight:bold;
		border-radius:5px;
		position: absolute;  
		top: 0;  
		right: 0;  
	}
	@media screen and (max-width: 320px) {
	input[type="submit"].searchBtn {
		width:64px;
	}
	} 		

/*検索ワード*/
p.search_word{
	background-color:#fff;
	border-bottom:1px solid #fce6c4;
	padding:10px 10px 10px 20px;
	font-size:14px;
}
	p.search_word span{
		 font-weight:bold;
	}
	
/*検索結果テーブル*/
table.seach_list{
	width:375px;
	background-color:#fff;
	border-collapse: separate;
	table-layout: fixed;
}
@media screen and (max-width: 320px) {
table.seach_list{
	width:320px;
}
}
	table.seach_list td{
		border-bottom:1px solid #fce6c4;
		background:url(../img/link.png) no-repeat 350px 50%;
		padding:20px;
		cursor:pointer;
	}
	@media screen and (max-width: 320px) {
	table.seach_list td{
		background:url(../img/link.png) no-repeat 300px 50%;
		padding:10px;
	}
	}
	table.seach_list td a{
		color:#000;
	}
		table.seach_list td dl{
			font-size:15px;
			line-height:160%;
		}
			table.seach_list td dl dt{
				display:inline-block;
				width:auto;
				min-width: 75px;
				text-align:right;
				font-weight:bold;
				vertical-align:top;
			}
			table.seach_list td dl dd{
				display:inline-block;
				margin:0;
				width: 230px;
			}
			@media screen and (max-width: 320px) {
			table.seach_list td dl dd{
				width: 195px;
			}
			}


/*検索結果-詳細テーブル*/
table.form.search_detail{
	padding:0 10px;
	border-radius:0 0 5px 5px;
	margin:0 auto 20px;
}
	table.form.search_detail tr td {
		/*font-size: 14px;*/
		padding:10px;
		vertical-align: top;
		width: auto;
		border-bottom:1px solid #f6ddd0;
	}
	table.form.search_detail tr td:first-child{
		font-weight:bold;
		width:110px;
		padding:10px 0 10px 10px;
	}
	table.form.search_detail tr:last-child td{
		border:none;
	}


/**/
hr{ border-top:solid 1px #EBE3D1;}
ul.nakaguro{padding-left:20px;}
ul.nakaguro li{list-style: disc;}
.mb10{ margin-bottom:10px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mtb10{ margin:10px 0;}
.mrl10{ margin:0 10px;}
.strong{ font-weight:bold;}

.pr20{ padding:0 20px 0 5px;}
a.em{
	text-decoration:none;
	color:#007FFF;
}
em.small{
	font-size:12px;
	color:#333;
}
p.big{
	font-size:14px;
	line-height:150%;
	margin-top:15px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {

}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
  /* デフォルト：980px以上用（PC用）の記述 */
@media screen and (max-width: 979px) {
  /* 979px以下用（タブレット用）の記述 */
}
@media screen and (max-width: 767px) {
  /* 767px以下用（タブレット／スマートフォン用）の記述 */
}
@media screen and (max-width: 479px) {
  /* 479px以下用（スマートフォン用）の記述 */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
a,
a:visited {
  text-decoration: underline;
}
a[href]:after {
  content: " (" attr(href) ")";
}
abbr[title]:after {
  content: " (" attr(title) ")";
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
thead {
  display: table-header-group;
}
tr,
img {
  page-break-inside: avoid;
}
img {
  max-width: 100% !important;
}
@page {
  margin: 0.5cm;
}
p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}
h2,
h3 {
  page-break-after: avoid;
}
}

