input.error{
	border: solid 1px #FF5C5C;
}
label.error {
    color: #FF5C5C;
    font-size: 12px;
    display: block;
    text-align: center;
    width: 100%;
}
table.login tr th{
	padding: 0;
	vertical-align: top;
	padding-top: 23px;
}
div.main.top input[type="text"], div.main.top input[type="password"]{
	/*text-align: center;
	padding-left: 0;*/
}

::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   color: #999;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
}

:-ms-input-placeholder {  
   color: #999;
}