@font-face {
  font-family: 'hgrsmp';
  src: url('hgrsmp/hgrsmp-webfont.eot'); /* IE9 Compat Modes */
  src: url('hgrsmp/hgrsmp-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('hgrsmp/hgrsmp-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('hgrsmp/hgrsmp-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('hgrsmp/hgrsmp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('hgrsmp/hgrsmp-webfont.svg#hgrsmp') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: '07YasashisaAntique';
  src: url('07YasashisaAntique/07YasashisaAntique-webfont.eot'); /* IE9 Compat Modes */
  src: url('07YasashisaAntique/07YasashisaAntique-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('07YasashisaAntique/07YasashisaAntique-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('07YasashisaAntique/07YasashisaAntique-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('07YasashisaAntique/07YasashisaAntique-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('07YasashisaAntique/07YasashisaAntique-webfont.svg#07YasashisaAntique') format('svg'); /* Legacy iOS */
}